html, body {
    width:  100%;
    height: 100%;
    margin: 0;
    background: black;
    scroll-behavior: smooth;
  }
body {
    font-family: open-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}
h3 {
    font-family: moret, serif;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    font-size: 130%;
    letter-spacing: 2px;
}
.hero {
    background: white;
    /* position:-webkit-sticky; 
    position:sticky; 
    top:0; */

}
.img__hero {
    max-width: 25%;
    margin-left: 36%;   
    position: sticky;
    top: 0rem;
    position: relative;
}

nav {
    color: var(--blue);
    font-size: 80%;
    text-align:left;
    position: fixed;
    width: 100%;
    left: -20px;
    letter-spacing: 4px;;
    line-height: 25px;
    z-index: 1;
}
ul {
    list-style-type: none;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: #000;
    
}
a:hover {
    font-family: open-sans, sans-serif;
    font-weight: 800;
    font-style: italic;
}

.content {
    padding: 20rem;
    background: white;
}
.content__work, 
.content__swatchbuddy,
.content__about,
.content__clients,
.content__services,
.content__upcycle {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    background: white;
    align-items: center;
    overflow: hidden;
    
}
/* .img__body, 
article {
        border-left: 1px solid black;
} */
article {
    flex: 1;
    align-content: center;
    padding: 5%;
}
p {
    letter-spacing: 1px;
    font-size: 80%;
    align-content: center;
}
img {
    flex: 1; 
}
.img__body {
    max-width: 40%;
    height: auto;
    object-fit: contain; 
    /* transition: all 1s; */
    padding: 5%;
}
/* .img__body:hover{
    transform: scale(1.05);
} */
footer {
    background: #000;
    color: #fff;
    text-align: center;
    position: sticky; 
    bottom: 0;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}
.footerDetail {
    color: white;
    font-size: 70%;
    letter-spacing: 2px;
} 
.img__hero__white {
    max-width: 5%;
}